<div id="home">
	<div id="proyectos" class="oferta">
		<%= image_tag('proyectos_icon.png', :size=>"32x32") %>
		Gestion de tr&aacute;mites y factibilidades para nuevos suministros y aumentos de potencia. Diseno de l&iacute;neas a&eacute;reas y subterr&aacute;neas. Instalaciones comerciales e industriales. Alumbrado p&uacute;blico
	</div>
	<div id="montajes" class="oferta">
		<%= image_tag('montajes_icon.png', :size=>"32x32") %>
		Ejecuci&oacute;n y direcci&oacute;n t&eacute;cnica de obras el&eacute;ctricas y luminotecnia. Montaje de elementos electromec&aacute;nicos para medici&oacute;n, comunicaci&oacute;n y control. Provisi&oacute;n de luminarias y columnas de alumbrado 
	</div>
	<div id="mantenimiento" class="oferta">
		<%= image_tag('mantenimiento_icon.png', :size=>"32x32") %>
		Reparaci&oacute;n y mantenimiento preventivo, predictivo y correctivo de l&iacute;neas subterr&aacute;neas y a&eacute;reas de baja, media y alta tensi&oacute;n, subestaciones a&eacute;reas y a nivel, c&aacute;maras subterr&aacute;neas.
	</div>
	<div id="consultoria" class="oferta">
		<%= image_tag('consultoria_icon.png', :size=>"32x32") %>
		Revisi&oacute;n y gesti&oacute;n de costos de abastecimiento. Asesoramiento para migrar al MEM. Contratos con generadores por energ&iacute;a base y plus. Gesti&oacute;n de multas por exceso de potencia y coseno fi. Compensaci&oacute;n capacitiva.
	</div>

</div>