// Place all the styles related to the vanos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vanothclass {
	font-size: 10px;
	border: 1px solid black;
	width: 55px;
}

.vanotdclass {
	font-size: 9px;
	text-align: right;
	border: 1px solid blue;
	padding-right: 3px;
}

.vanotdsclass {
	font-size: 9px;
	text-align: left;
	border: 1px solid blue;
	width: 200px;
}

.vanotbclass {
	font-size: 10px;
}

.vanotbclass a {
	font-size: 9px;
	text-decoration: none;
}

.vanolinea {
	display: inline;
}
